{% extends "layout.html" %} {% block content %}

<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'learn.js') }}"
></script>

<script>
  let data = {{data | tojson}};
  let id = {{ id }};
  let learning_stage = {{learning_stage | tojson}};
  console.log(data, id, learning_stage)
</script>

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="nav-container">
    <div class="nav-title"><a href="/">LOVELY CAT</a></div>
    <div class="nav-section" id="part"></div>
  </div>
</nav>

<div id="learn_container"></div>

<div class="confirmBox">
  <div class="confirmtxt">Your next step: </div>
  <button class="confirmBtn" onclick="sure(1)">Back to HomePage</button>
  <button class="confirmBtn" onclick="sure(0, id)">Next Session</button>
</div>

<div class="maskModal" style="display: none;"></div>

{% endblock %}
