{% extends "layout.html" %} {% block content %}

<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'learn.js') }}"
></script>

<script>
  let data = {{data | tojson}};
  let id = {{ id }};
  let learning_stage = {{learning_stage | tojson}};
  console.log(data, id, learning_stage)
</script>

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="nav-container">
    <div class="nav-title"><a href="/">LOVELY CAT</a></div>
    <div class="nav-section" id="part"></div>
  </div>
</nav>

<div id="learn_container"></div>

<div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header center">
          <h2 class="modal-body w-100 text-center" id="exampleModalLabel">Your next step is:</h2>
          <span class="close" data-dismiss="modal">&times;</span>
        </div>
        <div class="modal-footer border-0">
          <button type="button" class="btn btn-custom btn-modal" onclick="nextPage()">Next Session</button>
          <button type="button" class="btn btn-custom-light btn-modal" onclick="location.href='/'">Home</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="modal fade" id="quizModal" tabindex="-1" role="dialog" aria-labelledby="quizModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header center">
          <h2 class="modal-body w-100 text-center" id="quizModalLabel">Are you ready to quiz ?</h2>
          <!-- <span class="close" data-dismiss="modal">&times;</span> -->
        </div>
        <div class="modal-footer border-0">
          <button type="button" class="btn btn-custom btn-modal" onclick="location.href='/quiz/1'">Start my quiz</button>
          <button type="button" class="btn btn-custom-light btn-modal" onclick="location.href='/'">Home</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="modal fade" id="earModal" tabindex="-1" role="dialog" aria-labelledby="earModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <span class="close" data-dismiss="modal">&times;</span> -->
          <div class="modal-body" id="earModalLabel">
            <embed width="450" height="350" src="https://www.youtube.com/embed/IzlJmxberJc" allowfullscreen="true">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="modal fade" id="eyeModal" tabindex="-1" role="dialog" aria-labelledby="eyeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <span class="close" data-dismiss="modal">&times;</span> -->
          <div class="modal-body" id="eyeModalLabel">
            <embed width="450" height="350" src="https://www.youtube.com/embed/DFOCLSCANaI" allowfullscreen="true">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="modal fade" id="tailModal" tabindex="-1" role="dialog" aria-labelledby="tailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <span class="close" data-dismiss="modal">&times;</span> -->
          <div class="modal-body" id="tailModalLabel">
            <embed width="450" height="350" src="https://www.youtube.com/embed/tURs6OlKcvw" allowfullscreen="true">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
