{% extends "layout.html" %} {% block content %}

<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'learn.js') }}"
></script>

<script>
  let data = {{data | tojson}};
  let id = {{ id }};
  let learning_stage = {{learning_stage | tojson}};
  console.log(data, id, learning_stage)
</script>

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="nav-container">
    <div class="nav-title"><a href="/">LOVELY CAT</a></div>
    <div class="nav-section" id="part"></div>
  </div>
</nav>

<div id="learn_container"></div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header center">
        <h2 class="modal-boddy w-100 text-center" id="exampleModalLabel">Your next step is:</h2>
        <span class="close" data-dismiss="modal">&times;</span>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-custom btn-modal" onclick="nextPage()">Next Session</button>
        <button type="button" class="btn btn-custom-light btn-modal" onclick="location.href='/'">Home</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="quizModal" tabindex="-1" role="dialog" aria-labelledby="quizModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header center">
        <h2 class="modal-boddy w-100 text-center" id="quizModalLabel">Are you ready to quiz ?</h2>
        <span class="close" data-dismiss="modal">&times;</span>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-custom btn-modal" onclick="location.href='/quiz/1'">Start my quiz</button>
        <button type="button" class="btn btn-custom-light btn-modal" onclick="location.href='/'">Home</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
