{% extends "layout.html" %}

{% block content %}

    <script type="text/javascript" src="{{ url_for('static', filename = 'quiz_3.js') }}"></script>

    <script>
        let data = {{data | tojson}}
        console.log(data)
    </script>

    <div class="button_container">
        <button type="button" class="btn btn-primary btn-lg prev_button" onclick="location.href='quiz_2';">< Previous</button>
        <button type="button" class="btn btn-primary btn-lg next_button" onclick="location.href='quiz_4';">Next ></button>
    </div>

    <div class="question_body"><span class="question_title">Q3: </span> Select the picture(s) that the cat in a positive mood? (10 pt)</div>

    <div id="quiz_3_container"></div>


{% endblock %}