{% extends "layout.html" %}

{% block content %}

    <script type="text/javascript" src="{{ url_for('static', filename = 'quiz_review.js') }}"></script>

    <script>
        let choices = {{choices | tojson}}
    </script>

    <div class="button_container">
        <button type="button" class="btn btn-primary btn-lg prev_button" onclick="location.href='quiz_5';">< Previous</button>
        <button type="button" class="btn btn-primary btn-lg next_button" onclick="location.href='quiz_end';">Submit</button>
    </div>

    <div class="question_body"><span class="question_title">Review: </span> Choose the correct one(s) from the following statements (10 pt)</div>
    
    <div id="quiz_review_container"></div>


{% endblock %}