{% extends "layout.html" %}

{% block content %}

    <script type="text/javascript" src="{{ url_for('static', filename = 'quiz_1.js') }}"></script>

    <script>
        let data = {{data | tojson}}
        console.log(data)
    </script>

    <div class="button_container">
        <button type="button" class="btn btn-primary btn-lg next_button" onclick="location.href='quiz_2';">Next ></button>
    </div>

    <div class="question_body"><span class="question_title">Q1: </span> Which one does the cat's ears slight bent forward? (10 pt)</div>
    
    <div id="quiz_1_container"></div>


{% endblock %}