{% extends "layout.html" %} {% block content %}

<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'quiz.js') }}"
></script>

<script>
  let data = {{data | tojson}};
  let id = {{ id }}
  let user_answers = {{user_answers | tojson}}
  let score = {{score | tojson}}
  console.log(data, id, user_answers, score)
</script>

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="nav-container">
    <div class="nav-title">LOVELY CAT</div>
    <div class="nav-section">Quiz</div>
  </div>
</nav>

<div id="quiz_container"></div>

{% endblock %}
